.banner{
    position: fixed;
    right:0;
    height: 447px;
    width: 100%;
    color:white;
    background-color: #000000;
    object-fit: contain;
    .banner-content{
margin-left:30px ;
padding-top: 140px;
height: 190px;


.banner_desc{
    width: 45rem;
    padding-top: 1 rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
    line-height: 1.3;
    .banner_title{
        
    }
}
    }
.banner_bottom{
    height: 7.4rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),
    black);
}
}